<%- include('header') -%>

    <section class="details-section">
        <a href="/" class="box-shadow"> <i class="fas fa-arrow-left"></i> Back </a>
        <div class="country-details">
            <img src="/1200px-Flag_of_Germany.svg.webp" alt="" />
            <div class="info">
                <div>
                    <div class="left">
                        <h1>Germany</h1>
                        <p>Native Name: <span>Belgie</span></p>
                        <p>Population: <span>11,319,511</span></p>
                        <p>Region: <span>Europe</span></p>
                        <p>Sub Region: <span>Western Europe</span></p>
                        <p>Capital: <span>Brussels</span></p>
                    </div>

                    <div class="right">
                        <p>Top Level Domain: <span>be</span></p>
                        <p>Currencies: <span>Euro</span></p>
                        <p>Languages: <span>Dutch, French, German</span></p>
                    </div>

                    <div class="borders">
                        <p>
                            Border Countries:
                            <span class="border-card box-shadow">France</span>
                            <span class="border-card box-shadow">Germany</span>
                            <span class="border-card box-shadow">Netherlands</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('footer') -%>