<%- include("header") -%>
    <div class="country-card box-shadow">
        <img src="/1200px-Flag_of_Germany.svg.webp" width="180px" height="100px" alt="germany-flag" />
        <div class="details">
            <h1>Germany</h1>
            <p>Population: <span>81,770,900</span></p>
            <p>Region: <span>Europe</span></p>
            <p>Capital: <span>Berlin</span></p>
        </div>
    </div>
    <%- include("footer") -%>